:root {
  --color-primary: #acb1f9;
  --color-primary-darken: #8089d1;
  --color-primary-lighter:#e9ebff;

  --white-default: #fff;
  --white-darken: #e3e3e3;
  --gray-soft: #ccc;

  --color-input: #f3f3f3;
}

@font-face {
  font-family: Lobster Two;
  font-weight: 400;
  src: url(../assets/fonts/LobsterTwo-Regular.ttf);
}

@font-face {
  font-family: Open Sans;
  font-weight: 400;
  src: url(../assets/fonts/OpenSans.ttf);
}

/** Estilizando o input do tipo number para remover as setas */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  /** Remove a aparência padrão do botão */
  -webkit-appearance: none;
  /** Define a margem como zero */
  margin: 0;
}
input[type='number'] {
  /** Firefox */
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-soft);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-darken);
}
